body {
    background-color: white;
}

.heading {
    color: black;
    text-align: center;
    font-family: 'Futura', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

img.center {
    display: block;
    margin: 0 auto;
}

.foodPic {
    border-style: ridge;
}

.List .Item {
    color: black;
    text-align: center;
    font-family: 'Futura', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.List a {
    text-decoration: none;
    color: black;
}

.recipeText {
    color: black;
    font-family: 'Futura', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.recipeList {
    text-align: center;
}

.watermark a {
    color: black;
    float: left;
    font-family: 'Futura', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-small;
    bottom: 0;
    text-decoration: none;
}

.credits a {
    color: black;
    float: right;
    font-family: 'Futura', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-small;
    bottom: 0;
    text-decoration: none;
}