* {
    background-color: white;
    font-family: 'Futura', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 20px;
}

.header-text {
    text-align: center;
    font-size: 32px;
}

#chef {
    color: black;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-list .link {
    text-decoration: none;
    font-weight: 500;
}

.credits .link {
    text-align: left;
    position: fixed;
    bottom: 0;
}
.back {
    text-align: left;
    position: fixed;
    bottom: 0;
}